[package]
name = "ochra-db"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
ochra-types = { path = "../ochra-types" }
rusqlite.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing.workspace = true
