[package]
name = "ochra-types"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
serde_with = { version = "3", features = ["hex"] }
thiserror.workspace = true
ts-rs.workspace = true
